/* [project]/src/components/layout/Navbar.module.scss.module.css [app-client] (css) */
.Navbar-module-scss-module__3AB87a__navbar {
  border-bottom: 1px solid var(--border-color);
  background: var(--bg-primary);
  height: 56px;
  font-family: var(--font-mono);
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  display: flex;
  position: sticky;
  top: 0;
}

.Navbar-module-scss-module__3AB87a__logo {
  border-right: 1px solid var(--border-color);
  width: 300px;
  height: 100%;
  color: var(--text-secondary);
  align-items: center;
  padding: 0 1.5rem;
  display: flex;
}

.Navbar-module-scss-module__3AB87a__name {
  color: var(--text-secondary);
  font-weight: 500;
}

.Navbar-module-scss-module__3AB87a__mobileToggle {
  color: var(--text-secondary);
  z-index: 1001;
  padding: 0 1rem;
  display: none;
}

.Navbar-module-scss-module__3AB87a__mobileToggle:hover {
  color: var(--text-primary);
}

.Navbar-module-scss-module__3AB87a__links {
  height: 100%;
  display: flex;
}

.Navbar-module-scss-module__3AB87a__link {
  border-right: 1px solid var(--border-color);
  color: var(--text-secondary);
  align-items: center;
  gap: .5rem;
  height: 100%;
  padding: 0 2rem;
  transition: all .2s;
  display: flex;
  position: relative;
}

.Navbar-module-scss-module__3AB87a__link:hover {
  color: var(--text-primary);
  background: #ffffff05;
}

.Navbar-module-scss-module__3AB87a__link.Navbar-module-scss-module__3AB87a__active {
  color: var(--text-primary);
  border-bottom: 2px solid var(--accent-orange);
}

.Navbar-module-scss-module__3AB87a__link.Navbar-module-scss-module__3AB87a__active:after {
  content: "";
  background: var(--accent-orange);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.Navbar-module-scss-module__3AB87a__label {
  color: inherit;
}

.Navbar-module-scss-module__3AB87a__extra {
  border-left: 1px solid var(--border-color);
  height: 100%;
  display: flex;
}

.Navbar-module-scss-module__3AB87a__icon {
  margin-left: .5rem;
}

@media (max-width: 1024px) {
  .Navbar-module-scss-module__3AB87a__logo {
    border-right: none;
    width: auto;
  }

  .Navbar-module-scss-module__3AB87a__mobileToggle {
    display: block;
  }

  .Navbar-module-scss-module__3AB87a__links {
    background: var(--bg-primary);
    z-index: 1000;
    border-top: 1px solid var(--border-color);
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 56px);
    display: none;
    position: fixed;
    top: 56px;
    left: 0;
  }

  .Navbar-module-scss-module__3AB87a__links.Navbar-module-scss-module__3AB87a__mobileOpen {
    display: flex;
  }

  .Navbar-module-scss-module__3AB87a__link {
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 60px;
    padding: 0 1.5rem;
  }

  .Navbar-module-scss-module__3AB87a__link.Navbar-module-scss-module__3AB87a__active {
    border-bottom: 1px solid var(--border-color);
    color: var(--accent-orange);
  }

  .Navbar-module-scss-module__3AB87a__link.Navbar-module-scss-module__3AB87a__active:after, .Navbar-module-scss-module__3AB87a__extra {
    display: none;
  }

  .Navbar-module-scss-module__3AB87a__navbar {
    padding: 0;
  }
}

/*# sourceMappingURL=src_components_layout_Navbar_module_scss_module_css_bad6b30c._.single.css.map*/