/* [project]/src/components/ui/ChatBot.module.scss.module.css [app-client] (css) */
.ChatBot-module-scss-module__jJM7bW__container {
  z-index: 2000;
  position: fixed;
  bottom: 70px;
  right: 2rem;
}

.ChatBot-module-scss-module__jJM7bW__fab {
  background: var(--accent-cyan);
  width: 50px;
  height: 50px;
  color: var(--bg-primary);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  display: flex;
  box-shadow: 0 4px 10px #4cc9f04d;
}

.ChatBot-module-scss-module__jJM7bW__fab:hover {
  background: var(--text-primary);
  transform: scale(1.1);
}

.ChatBot-module-scss-module__jJM7bW__fab.ChatBot-module-scss-module__jJM7bW__hidden {
  opacity: 0;
  pointer-events: none;
}

.ChatBot-module-scss-module__jJM7bW__chatWindow {
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  flex-direction: column;
  width: 320px;
  height: 400px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 30px #00000080;
}

.ChatBot-module-scss-module__jJM7bW__header {
  background: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  align-items: center;
  padding: .8rem 1rem;
  display: flex;
}

.ChatBot-module-scss-module__jJM7bW__header .ChatBot-module-scss-module__jJM7bW__title {
  font-family: var(--font-mono);
  color: var(--text-primary);
  align-items: center;
  gap: .5rem;
  font-size: .9rem;
  display: flex;
}

.ChatBot-module-scss-module__jJM7bW__header .ChatBot-module-scss-module__jJM7bW__closeBtn {
  color: var(--text-secondary);
}

.ChatBot-module-scss-module__jJM7bW__header .ChatBot-module-scss-module__jJM7bW__closeBtn:hover {
  color: var(--text-primary);
}

.ChatBot-module-scss-module__jJM7bW__messages {
  flex-direction: column;
  flex: 1;
  gap: .8rem;
  padding: 1rem;
  font-size: .9rem;
  display: flex;
  overflow-y: auto;
}

.ChatBot-module-scss-module__jJM7bW__message {
  border-radius: var(--radius-sm);
  max-width: 80%;
  line-height: 1.4;
  font-family: var(--font-sans);
  padding: .6rem .8rem;
}

.ChatBot-module-scss-module__jJM7bW__bot {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  border: 1px solid var(--border-color);
  align-self: flex-start;
}

.ChatBot-module-scss-module__jJM7bW__user {
  color: var(--accent-green);
  background: #43d9ad1a;
  border: 1px solid #43d9ad33;
  align-self: flex-end;
}

.ChatBot-module-scss-module__jJM7bW__inputArea {
  border-top: 1px solid var(--border-color);
  background: var(--bg-secondary);
  gap: .5rem;
  padding: .8rem;
  display: flex;
}

.ChatBot-module-scss-module__jJM7bW__input {
  background: var(--bg-primary);
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  border-radius: var(--radius-sm);
  font-family: var(--font-sans);
  flex: 1;
  padding: .5rem;
  font-size: .9rem;
}

.ChatBot-module-scss-module__jJM7bW__input:focus {
  border-color: var(--accent-cyan);
  outline: none;
}

.ChatBot-module-scss-module__jJM7bW__sendBtn {
  color: var(--accent-cyan);
  padding: 0 .5rem;
  transition: transform .2s;
}

.ChatBot-module-scss-module__jJM7bW__sendBtn:hover {
  color: var(--text-primary);
  transform: translateX(2px);
}

/*# sourceMappingURL=src_components_ui_ChatBot_module_scss_module_css_bad6b30c._.single.css.map*/